.chatWindow{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatWindow--header{
    height: 60px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.chatWindow--headerinfo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatWindow--avatar{
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.chatWindow--name{
    font-size: 17px;
    color: #000000;
}

.chatWindow--headersbuttons{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.chatWindow--btn{
    width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
overflow: hidden;
transition: all 0.3s ease;
}
.chatWindow--btn .MuiSvgIcon-root{
    color:var(--dark-grey-bg);
  }

.chatWindow--body{
    flex: 1;
    overflow-y: auto;
    background-color: #e5ddd5;
    background-size: cover;
    background-position: center;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    padding: 20px 30px;
    scrollbar-width: thin;
  -ms-overflow-style:none;/*IE and Edge*/
  scrollbar-color: var(--dark-grey-bg) var(--light-grey-bg);
}
.chatWindow--body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
.chatWindow--body::-webkit-scrollbar-thumb{
   background-color: var(--dark-grey-bg);
  }

.chatWindow--footer{
    display: flex;
    align-items: center;
    height: 62px;
}

.chatWindow--pre{
    display: flex;
}

.chatWindow--inputarea{
    flex: 1;
}

.chatWindow--input{
    width:100%;
    height: 40px;
    border:0;
    outline: 0;
    background-color: #fff;
    border-radius: 20px;
}
.chatWindow--input .MuiTextField-root{
    width:100%;
  }
  .chatWindow--input .MuiInputBase-root{
    background: none;
    border: 0;
  }
  .chatWindow--input fieldset{
    border:0;
  }
  .chatWindow--input input{
    flex: 1 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 11px 16px;
    font-size: 14px;
    color: #4a4a44;
  }

.chatWindow--pos{
    display: flex;
}
.chatWindow--emojiarea{
    height: 200px;
    overflow-y: hidden;
    transition: all ease 0.3s;
}
.chatWindow--emojiarea .emoji-picker-react{
    width: auto;
    background: none;
}
.chatWindow--emojiarea .emoji-picker-react .emoji-group:before{
    background: none;
}