.chatListItem{
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 70px;
}
.chatListItem:hover{
    background-color: var(--light-grey2-bg);
}
.chatListItem.active{
    background-color: #ebebeb; 
}
.chatListItem--avatar{
    margin-left: 15px;
}

.chatListItem--lines{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #eee;
    margin-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    min-width: 0;
}

.chatListItem--line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chatListItem--name{
    font-size: 17px;
    color: #000;
    font-family: var(--primary-font);
    font-weight: 700;
}

.chatListItem--date{
    font-size: 12px;
    color: #999;
}

.chatListItem--lastMsg{
    font-size: 14px;
    color: #999;
    width:100%;
    display: flex;
}
.chatListItem--lastMsg p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    font-family: var(--base-font);
}