.newChat{
    width:35%;
    max-width: 415px;
    position: fixed;
    left: 0px;
    top:0px;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dddddd;
    z-index: 1;
    transition: all .3s ease;
}

.newChat--head{
    display: flex;
    background-color: var(--primary);
    align-items: center;
    padding: 60px 15px 15px 15px;
   
}

.newChat--backButton{
    width:40px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}
.newChat--headtitle{
    font-size: 19px;
    height: 40px;
    line-height: 40px;;
    flex: 1;
    font-weight: 700;
    color: #ffffff;
    margin-left: 20px;
}
.newChat--list{
    flex:1;
    overflow-y:auto;
    scrollbar-width: thin;
    -ms-overflow-style:none;/*IE and Edge*/
    scrollbar-color: var(--dark-grey-bg) var(--light-grey-bg);
}

.newChat--list::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
.newChat--list::-webkit-scrollbar-thumb{
   background-color: var(--dark-grey-bg);
  }

  .newChat--item{
      display: flex;
      align-items: center;
      padding: 15px;
      cursor: pointer;
  }
  .newChat--item:hover{
    background-color: var(--light-grey2-bg);
}
  .newChat--itemavatar{
      margin-right: 15px;
  }

  .newChat--itemname{
      font-size: 17px;
      color: black;
  }