.chatIntro{
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 6px solid var(--primary);
}

.chatIntro img{
    width: 250px;
    height: auto;
}

.chatIntro h1{
    font-size: 32px;
    color: #525252;
    font-weight: 400;
    margin-top: 30px;
}

.chatIntro h2{
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
}