@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&family=Rufina:wght@400;700&display=swap');
:root{
  --primary: #5ce27f;
  --secondary: #5cabe2;
  --dark: #121212;
  --light: #313131;
  --dark-grey-bg:  #b1b1b1;
  --light-grey-bg:  #ededed;
  --light-grey2-bg:  #efefef;
  --base-font:'Rufina', serif;
  --primary-font:'Mulish', serif;
}
*{
  box-sizing: border-box;
}
body{
  background-color:var(--dark-grey-bg);
  margin: 0px;
  font-family: var(--base-font);
}

.app{
  display: flex;
  background-color:var(--light-grey-bg);
  height: 100vh;
  font-family: var(--primary-font);
}
header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.header--avatar{
  cursor: pointer;
}
.header--buttons{
display: flex;
}
.header--btn{
  width:40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header--btn .MuiSvgIcon-root{
  color:var(--dark-grey-bg);
}
.sidebar{
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.search{
  background-color: #f6f6f6;
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}

.search--input{
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  display: flex;
}
.search--input .MuiTextField-root{
  width:100%;
}
.search--input .MuiInputBase-root{
  background: none;
  border: 0;
}
.search--input fieldset{
  border:0;
}
.search--input input{
  flex: 1 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 11px 16px;
}

.chatlist{
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
  scrollbar-width: thin;
  -ms-overflow-style:none;/*IE and Edge*/
  scrollbar-color: var(--dark-grey-bg) var(--light-grey-bg);
}

.chatlist::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
.chatlist::-webkit-scrollbar-thumb{
 background-color: var(--dark-grey-bg);
}


.content-area{
  flex: 1;
}